In [2]:
# Packages
import pandas as pd
import altair as alt
import numpy as np

# Constants
VOTES = "../data/raw/mk8dx_votes.csv"
COURSES = "../data/raw/mk8dx_courses.csv"

# Main
votes = pd.read_csv(VOTES)
print('Votes dataframe:')
print(votes.head())
print('========\n')

courses = pd.read_csv(COURSES)
print('Courses dataframe:')
print(courses.head())
print('========\n')

Votes dataframe:
   race_id     selected_course race_speed  num_racers          voted_course  \
0        1        Rainbow Road        150          12  Squeaky Clean Sprint
1        1        Rainbow Road        150          12       DS Shroom Ridge
2        1        Rainbow Road        150          12                Random
3        1        Rainbow Road        150          12          Rainbow Road
4        2  Sweet Sweet Canyon        150          12        Hyrule Circuit

   num_votes pct_votes
0          4    33.33%
1          3    25.00%
2          4    33.33%
3          1     8.33%
4          3    25.00%
========

Courses dataframe:
   course_id              course       cup  nth_race debut_console
0          1  Mario Kart Stadium  Mushroom         1         Wii U
1          2          Water Park  Mushroom         2         Wii U
2          3  Sweet Sweet Canyon  Mushroom         3         Wii U
3          4        Thwomp Ruins  Mushroom         4         Wii U
4          5       Mario Circuit    Flower         1         Wii U
========

In [3]:
def join_dataframes(df1, df2, df1_join, df2_join):
    merged_df = pd.merge(df1, df2, left_on=df1_join, right_on=df2_join)
    merged_df.drop(columns=[df2_join], inplace=True)
    return merged_df

online_votes = join_dataframes(votes, courses, 'selected_course', 'course')
online_votes.head()

,race_id,selected_course,race_speed,num_racers,voted_course,num_votes,pct_votes,course_id,cup,nth_race,debut_console
0,1,Rainbow Road,150,12,Squeaky Clean Sprint,4,33.33%,16,Special,4,Wii U
1,1,Rainbow Road,150,12,DS Shroom Ridge,3,25.00%,16,Special,4,Wii U
2,1,Rainbow Road,150,12,Random,4,33.33%,16,Special,4,Wii U
3,1,Rainbow Road,150,12,Rainbow Road,1,8.33%,16,Special,4,Wii U
4,2,Sweet Sweet Canyon,150,12,Hyrule Circuit,3,25.00%,3,Mushroom,3,Wii U

In [4]:
def add_boolean_column(df, col1, col2, new_col_name):
    df[new_col_name] = df[col1] == df[col2]
    return df

online_votes = add_boolean_column(online_votes, 'selected_course', 'voted_course', 'selected')
online_votes.head()

,race_id,selected_course,race_speed,num_racers,voted_course,num_votes,pct_votes,course_id,cup,nth_race,debut_console,selected
0,1,Rainbow Road,150,12,Squeaky Clean Sprint,4,33.33%,16,Special,4,Wii U,False
1,1,Rainbow Road,150,12,DS Shroom Ridge,3,25.00%,16,Special,4,Wii U,False
2,1,Rainbow Road,150,12,Random,4,33.33%,16,Special,4,Wii U,False
3,1,Rainbow Road,150,12,Rainbow Road,1,8.33%,16,Special,4,Wii U,True
4,2,Sweet Sweet Canyon,150,12,Hyrule Circuit,3,25.00%,3,Mushroom,3,Wii U,False

In [ ]:
online_votes.to_csv('../data/mk8dx_online.csv', index=False)