# Mario Kart 8 Deluxe (+DLC) Online Voting
Mario Kart 8 Deluxe is the 6th best selling game of all time[^1] making it the most popular of the Mario Kart franchise. With the addition of the *Mario Kart 8 Deluxe â€” Booster Course Pass*, the game boasts 96 courses, 48 characters, 41 vehicles, 22 tires, and 15 gliders. For players familiar with older installments of the Mario Kart franchise, this amount of information is overwhelming.

After graduating college, I finally had time to play video games again. While I used to play League of Legends and CS:GO, those games require too much dedicated time and effort to master. Instead, I picked up my favorite game, Mario Kart 8 Deluxe.

It had been a few years since I played and was delighted to find a 48-course expansion which included my favorite track growing up, DK Summit. As I played through the new cups, I felt overwhelmed by the number of courses I was unfamiliar with.


[^1]: Wikipedia - List of Best Selling Video Games

# Do I need to know all 96 courses to play Mario Kart 8 Deluxe (+DLC) online?
**Short answer:** Yes.

**Long answer:** Yes, but you should focus on the most popular courses first.

## Are online courses truly random?
TODO: 
 - Talk about randomness and UX.
 - Mention how the iPod creates artificial randomness.
 - Mention how it *felt* like online courses weren't random and certain courses show up more than others.
 - Explain how confirmation bias can make this *feel* true, but we need to measure to know for sure.

In [54]:
import numpy as np
import pandas as pd

def random_draw(max, size):
  """
  Draw a random integer from 1 to `max` (inclusive) `size` times.

  Parameters:
  max (int): The maximum value of the draw. If `max` is 10, the draw can be up to 10.
  size (int): The number of draws to make. Each draw will be added to a list.

  Returns:
  list: A list of `size` random integers from 1 to `max`.
  """

  rng = np.random.default_rng()
  return rng.integers(1, max + 1, size=size)


def array_frequency_df(arr):
  """
  Count the frequency of each unique value in an array.

  Parameters:
  arr (list): A list of integers.

  Returns:
  pd.DataFrame: A DataFrame with two columns: `value` and `count`. The `value` column contains the unique values in `arr`, and the `count` column contains the frequency of each value.
  """

  value_counts = pd.Series(arr).value_counts()

  df = value_counts.reset_index()
  df.columns = ['value', 'count']
  df = df.set_index('value')

  return df


def insert_statistics_row(rf, df, column_name):

  min_value = df[column_name].min()
  max_value = df[column_name].max()
  mean_value = df[column_name].mean()
  median_value = df[column_name].median()
  unique_values = df.index.nunique()

  stats_row = pd.DataFrame({
    'min': [min_value],
    'max': [max_value],
    'mean': [mean_value],
    'median': [median_value],
    'unique_values': [unique_values]
  })

  rf = pd.concat([rf, stats_row], ignore_index=True)

  return rf


def simulate_draws(max, draws, samples):

  # Create an empty DataFrame to store the results
  rf = pd.DataFrame(columns=['min', 'max', 'mean', 'median'])

  for i in range(samples):
    picks = random_draw(max, draws)
    df = array_frequency_df(picks)
    rf = insert_statistics_row(rf, df, 'count')

  rf['pct_coverage'] = rf['unique_values'] / max * 100

  return rf

rf = simulate_draws(96, 105, 10)

rf

/var/folders/6m/88wxxv_j6vjbktrf88ghl0t80000gn/T/ipykernel_2869/856756953.py:56: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rf = pd.concat([rf, stats_row], ignore_index=True)

  min max      mean  median  unique_values  pct_coverage
0   1   4  1.693548     1.0           62.0     64.583333
1   1   5  1.693548     1.0           62.0     64.583333
2   1   5  1.875000     2.0           56.0     58.333333
3   1   4  1.615385     1.0           65.0     67.708333
4   1   5  1.721311     1.0           61.0     63.541667
5   1   5  1.544118     1.0           68.0     70.833333
6   1   4  1.615385     1.0           65.0     67.708333
7   1   3  1.615385     2.0           65.0     67.708333
8   1   6  1.590909     1.0           66.0     68.750000
9   1   4  1.640625     1.0           64.0     66.666667